:root{
  --bs-blue:#41a8da;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*Nav*/

.me-auto{
  height: 70px;
}

.navbar-brand{
  width: 100rem;
  /* color: rgb(65 168 218); */
}



.navbar-brand:hover{
 color: #41a8da;
}


.nav-link{
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 15px;
}


.nav-link:hover:hover{
  /* color: rgb(191 224 90); */
  color: rgb(243 150 62);
  border-top: 2px solid orange;
}

/*Home*/

.Home{
  position:relative;
  background-image: url(/public/laptop.png);
  background-size:  100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
}



.header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  color:rgb(191 224 90);
  padding-top: 20px;
}


 span.typed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  /* color: rgb(243 150 62) */;
  /* color: rgb(82 189 178); */
  color: rgb(28 184 170);
  margin-top: 50px;
}


.contact-button{
  border: 2px;
  text-transform: uppercase;
  border-style: solid;
  border-color: #41a8da;
  color: white;
  background: none;

}


.button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
}


/*AboutMe*/
.introContent{
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

#intro{
  background-color: rgb(33, 37, 41);
  /* background-color: rgb(28 184 170); */
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* color: #ffffff; */
}


.hello{
 color: white;
 font-size: 1.75rem;
 font-weight: 100;
}

.introName{
  color:rgb(191 224 90);
}


.infoText{
  color: #ffffff;
}

.introPara{
  color: #ffffff;
  font-size: large;
  font-weight: 100;
  letter-spacing: 1px;
}



.hire-button{
border: 2px;
text-transform: uppercase;
border-style: solid;
border-color:  orange;
color: white;
background: none;
font-weight: 100;
font-size: large;
}

.bg{
  position: absolute;
  /* z-index: -1; */
  /* width: fit-content; */
  right: 0;
  object-fit: cover;
}


/*Skills*/


.header, .sub-header{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/* .container{
  background-color: rgb(33, 37, 41);
  width: 100vw;
  height: 100vh;
  margin: 0;
} */

.row {
  gap: 20px;
  display: flex;
  justify-content: center;
}



.container-2{
  border-top: 2px solid orange;
  padding-top: 10px;
  height: 38vh;
}

.bg2{
  position: relative;
  width: 280px;
  height: 250px;
 margin-left: 200px;
}